doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=false")
    link(rel="shortcut icon", href="../imgs/pin.ico")
    title  Find Me | Hide and Seek
    // CSS Styles
    link(rel="stylesheet", type="text/css", href="css/index.css")
    link(rel="stylesheet", href="css/signup.css", media="screen", type="text/css")
    link(rel="stylesheet", href="css/chat.css", media="screen", type="text/css")
    if myTheme
      link(id="currTheme", rel="stylesheet", type="text/css", media="screen", name="myTheme", href=myTheme)
    // Fonts
    link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
    // Scripts
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="js/chat.js")
    script(src="js/meet.js")

    //for popup
    link(rel="stylesheet", type="text/css", href="jquery.countdown.css")
    link(rel="stylesheet", type="text/css", href="css/meet.css")
    script(type="text/javascript", src="js/jquery.plugin.js")
    script(type="text/javascript", src="js/jquery.countdown.js")
    script(src="js/popup.js")

  body
    nav
      ul
        li
          a(href="meet") Meet
        li
          a.chatbutton Chat
        li.current
          a(href="games") Games
        li
          a(href="settings") Settings
    #content-1.content
      #smallchat
      .col-l
        header
          p#title Hide and Seek!
        if newgame
          script(src="js/hidenseek.js")
          form(id="selectplayers")
            .text
              p Choose your players:
            .formholder
              .randompad
                fieldset
                  select(name="mydropdown", multiple="multiple")
                    if friends
                      each friend, i in friends
                        option(value=friend.id) #{friend.username}
                  input#checkingame(type="button", value="Start Game")
          #places-popup
            a#popupClose x
            .popup-container
              #whoisseeker
              p You have 10 minutes to get to your positions:
              #first.countdown
              p  Please remember to stay within your regions.
              p Have you found your spot?
              #g2checkin
                a(href="#")
                  |Check-in!
                  center
                    img(src="imgs/check-in.png", width="50%")
          #bgPopup

        .game
          input#game_token(type="hidden", name="game_token", value=token)
          if gamedata
            input#is_seeker(type="hidden", name="is_seeker", value=gamedata[0])
            input#mygameid(type="hidden", name="mygameid", value=gamedata[2])
          .points
            ul
              li
                //pass in found players
                #gametext 
          .gamebuttons
            ul
              li
                input#refresh(type="button", value="Refresh")
            #map-canvas1
            .text
              p
                | WARNING: This will erase all player's game data.
              form
                fieldset
                  input#quit(type="button", value="End Game")
      .col-r
        header
          a.chatbutton
            p#title Meeting Chat
        .text    
          p Note: This is the same chat from the meet page.
        // Duplicate chat code, games and meet pages will eventually be combined
        #chat
          #chatbox
            ul#messageList
          #messagebox
            textarea#message 
            input#submittext(type="submit", value="send")

        // End Duplicate Code
    // page #2 the actual game for hide and seek
    footer
      ul
        li
          a(href="about")  About
        li
          a(href="meet")  Meet
        li
          a(href="games")  Games
        li
          a(href="schedule") Schedule
        li
          a(href="/index" id="logout") Logout

    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,places")
    script(src="js/mapseek.js")
    script(src="js/logout.js")