doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=false")
    link(rel="shortcut icon", href="../imgs/pin.ico")
    title  Find Me | Future Meetings 
    // CSS Styles
    link(rel="stylesheet", type="text/css", href="../css/index.css")
    link(rel="stylesheet", href="../css/signup.css", media="screen", type="text/css")
    link(rel="stylesheet", type="text/css", href="../css/futureMeetings.css", media="screen")
    if myTheme
         link(id="currTheme", rel="stylesheet", type="text/css", media="screen", name="myTheme", href=myTheme)
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.10.2.js")
    script(type="text/javascript", src="http://code.jquery.com/ui/1.10.4/jquery-ui.js")
    // Fonts
    link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")

    link(rel="stylesheet", type="text/css", href="jquery.timepicker.css")
    script(type="text/javascript", src="jquery.timepicker.js")
    script(src="../js/scheduleValidation.js")
  script
    $(function() {
    $( "#datepicker" ).datepicker({minDate:1});
    $("#timeInput").timepicker({'step': 15 });
    $('#timeInput').timepicker('option', { useSelect: true});
    })
  body
    nav
      ul
        li
          a(href="meet") Meet
        li
          a(href="games") Games
        li
          a(href="settings#ProfileSettings") Settings
        li
          a(href="schedule") Schedule
    .content
      header
        p#title Schedule A Meeting
      .col3
        h4 Friend List
        form(method="POST", action="/sendInvitation?_csrf=#{csrf}", id="futureInvitation")
          .formholder
            .randompad
              fieldset
                label(name="msg") Select friends(s) to send invite
                br
                br
                if noFriends
                     label(name="msg") Please add friends first, to schedule a meeting
                select(name="mydropdown", multiple="multiple", size="10" , form="futureInvitation", required="")
                     for friend in friends
                         option(value=friend) #{friend}
      .col2
        h4 Invitation
        .formholder
          .randompad
            fieldset
              label(name="location") Location
              br
              br
              input(id= "locInput", type="location", placeholder="40 St.George St.", name="mylocation", value=mylocation, form="futureInvitation", title="Name of location is at most 200 characters.", required pattern="[_0-9A-Za-z,#" "]{1,200}")
              .randompad
              label(name="time") Time
              br
              br
              input(id="timeInput", type="text", name="mytime", value=mytime, form="futureInvitation", required="")
              br
              br
              input(type="submit", value="Send Invites", form="futureInvitation")
      .col3
        h4 Pick A Date
        .formholder
          #datepick.randompad
            fieldset
              label(name="date") Date
              br
              br
              input#datepicker(type="text",  form="futureInvitation",  name="mydate", value=mydate, required="")
        .formholder
          #futureMeetings.randompad
            form(method="GET", action="/futureMeeting?_csrf=#{csrf}" , id="futureMeet")
              fieldset
                label(name="schedule") Scheduled Meetings, select an item to view
                br
                br
                select(name="futureMeets", size="4", id="meetingOptions", required="")
                      for schedule in schedules
                         option(value=schedule) #{schedule}
                input(type="submit", value="View a meeting" , form="futureMeet")
         .randompad
   footer
        ul
          li
            a(href="report")  Report
          li
            a(href="meet")  Meet
          li
            a(href="games")  Games
          li
            a(href="schedule") Schedule
          li
            a(href="/index" id="logout") Logout 
      script(src="js/logout.js")
